<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Cartographers!</h1>
            <p class="lead">How Noisy is Your Area?</p>

        </div>
        <div class="row">
        	<div class="col-md-8">
             	<div id="gauge" class="200x160px">
        			<script>
					  var g = new JustGage({
					    id: "gauge",
					    value: 67,
					    min: 60,
					    max: 200,
					    title: "Noise Level (DBs)"
					  });
					</script>
        		</div>
        	</div>
        </div>
	</div>
</div>
